body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  

}

a.nav-link {
  text-decoration: none;
  font-weight: 500;
}

a.nav-link:hover {
  text-decoration: none;
  opacity: 0.6;
   
}
.btn:hover{
opacity: 0.6;
}
.bi:hover{
  color: rgb(61, 112, 240);
}
.form-control {
  border: 2px solid #ccc;    /* حالت عادی */
  transition: border-color 0.3s ease;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color:rgb(55, 97, 97);     /* رنگ دلخواه در حالت focus */
}
.bi-whatsapp:hover{
  color: rgb(52, 148, 116);
}
/* توی فایل css یا داخل index.css */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.rocket-float {
  animation: float 3s ease-in-out infinite;
}
